* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/*========== HEADER ==========*/

.header-bg {
  background-color: #1f2937;
}

.header-container {
  max-width: 100rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 100px;
  padding: 20px 250px 100px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  font-size: 24px;
  color: #f9faf8;
  margin: 0;
}

ul {
  display: flex;
  gap: 18px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li > a {
  font-size: 18px;
  color: #e5e7eb;
}

.hero-container {
  display: flex;
  justify-content: space-between;
}

.hero-info {
  flex: 0 0 41%;
}

.m-hero-text {
  font-size: 48px;
  font-weight: 800;
  color: #f9faf8;
  margin: 0;
}

.s-hero-text {
  font-size: 18px;
  color: #e5e7eb;
  margin: 2px 0 12px;
}

.button-hero {
  background-color: #3882f6;
  color: #f9faf8;
  font-size: 14px;
  font-weight: 700;
  padding: 6px 30px;
  border-radius: 7px;
}

.hero-placeholder {
  flex: 0 1 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #797b7f;
  color: #e5e7eb;  
}

/*========== BODY ==========*/

.body {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.information {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 100px 250px 100px;
  max-width: 100rem;
  border: 5px solid purple;
}

.information > h2 {
  font-size: 36px;
  font-weight: 800;
  color: #1f2937;
  margin: 0;
}

.cards-container {
  display: flex;
  gap: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 150px;
}

.img-placeholder {
  width: 150px;
  height: 150px;
  border: 3px solid #3882f6;
  border-radius: 10px;
}

.card > p {
  text-align: center;
  color: #797b7f;
  margin-top: 8px;
}

.quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #e5e7eb;
  padding: 100px 350px 100px;
  border: 2px solid blue;;
}

.quote > article {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  color: #1f2937;
}

.quote > p {
  font-size: 24px;
  font-weight: 700;
  text-align: right;
}

.sign-up {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 100px;
  border: 2px solid black;
}

.sign-up-text {
  flex: 1;
  border: 1px solid red;
}

.sign-up-button {
  flex: 1;
  border: 1px solid blue;
}

/*========== FOOTER ==========*/

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px 0;
}

.footer > p {
  font-size: 18px;
  color: #e5e7eb;
}