* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header,
.footer {
  background-color: #1f2937;
}

/*========== HEADER ==========*/

.header {
  display: flex;
  flex-direction: column;
  gap: 100px;
  padding: 20px 250px 100px;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
  margin: 0;
}

ul {
  display: flex;
  gap: 18px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li > a {
  font-size: 18px;
  color: #e5e7eb;
}

.main-hero {
  display: flex;
  justify-content: space-between;
}

.sub-hero {
  flex: 0 1 45%;
}

.main-hero-text {
  font-size: 48px;
  font-weight: 800;
  color: #f9faf8;
  margin: 0;
}

.secondary-hero-text {
  font-size: 18px;
  color: #e5e7eb;
  margin: 2px 0 12px;
}

.button-hero {
  background-color: #3882f6;
  color: #f9faf8;
  font-size: 14px;
  font-weight: 700;
  padding: 6px 30px;
  border-radius: 7px;
}

.placeholder {
  flex: 0 1 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #797b7f;
  color: #e5e7eb;  
}

/*========== HEADER ==========*/

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.information {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 50px 350px 100px;
}

.information > h2 {
  font-size: 36px;
  font-weight: 800;
  color: #1f2937;
  margin: 0;
}

.cards-container {
  display: flex;
  gap: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 150px;
}

.img-placeholder {
  width: 150px;
  height: 150px;
  border: 3px solid #3882f6;
  border-radius: 10px;
}

.card > p {
  text-align: center;
  color: #797b7f;
  margin-top: 8px;
}

.quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #e5e7eb;
  padding: 100px 350px 100px;
}

.quote > article {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  color: #1f2937;
}

.quote > p {
  font-size: 24px;
  font-weight: 700;
  text-align: right;
}